<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>BLAST &mdash; Lotus Base</title>
	<meta name="author" content="Anurag Priyam">
	<meta name="author" content="Ben J. Woodcroft">
	<meta name="author" content="Vivek Rai">
	<meta name="author" content="Cedric Wurm">
	<meta name="author" content="Yannick Wurm">
	<meta name="author" content="Terry Mun">
	<meta name="description" content="Lotus japonicus BLAST resource, powered by SequenceServer"/>

	<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
	<![endif]-->

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/dist/css/ggs.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" media="screen,print" type="text/css" href="/dist/css/styles.min.css"/>
	<link rel="stylesheet" media="screen,print" type="text/css" href="/dist/css/blast.min.css" />
	<link rel="stylesheet" href="/dist/css/tools.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/dist/css/print.min.css" type="text/css" media="print" />
	<link rel="shortcut icon" type="image/png" href="/dist/images/logos/lotusbase-favicon.png" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600|Open+Sans+Condensed:300|Lora:400,400italic,700,700italic' rel='stylesheet prefetch' type='text/css'>

	<script src="/dist/js/plugins/modernizr.min.js"></script>

</head>

<body class="tools blast">

<noscript><div id="no-js-warning">
	<em>Lotus</em> Base and SequenceServer both require JavaScript to be enabled for crucial functionalities.
</div></noscript>

<div id="lotusbase__wrap">
	<div id="lotusbase__container">
		<header id="header">
			
			<div class="header-content">
				<div class="align-center">
					<h1><em>Lotus</em> BLAST</h1>
					<span class="byline">Basic Local Alignment Search Tool</span>
				</div>
				<p>Search various <em>Lotus japonicus</em> gene and protein databases using BLAST. This tool is powered by <a href="http://www.sequenceserver.com/" title="SequenceServer v<%= SequenceServer::VERSION %>">SequenceServer v<%= SequenceServer::VERSION %></a>, an open-source project to provide a user-friendly graphical interface for <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE_TYPE=BlastDocs&amp;DOC_TYPE=Download">NCBI BLAST+ packages</a>. We are currently running <strong>v2.2.31</strong> of the executables.</p>
			</div>

			<nav class="cf main">
				<ul>
					<li class="h-home"><a href="/" title="Home"><img class="logo" src="/dist/images/branding/logo.svg" alt="Lotus Base" title="Lotus Base"><span><em>Lotus</em> Base</span></a></li>
					<li class="h-lore1 has-child" data-group="lore1"><a href="/lore1/" title="LORE1 Resources"><em>LORE1</em></a>
						<ul>
							<li><a href="/lore1/search" title="Search for LORE1 lines"><em>LORE1</em> lines search</a></li>
							<li><a href="/lore1/order" title="Order LORE1 lines">Order lines</a></li>
							<li><a href="/lore1/order-search" title="Search for ordered LORE1 lines">Order history</a></li>
							<li><a href="/lore1/order-status" title="Check the status of a LORE1 order">Order status</a></li>
							<li><a href="/tools/primers" title="Genotyping Primer Order Sheet">Genotyping Primers</a></li>
						</ul>
					</li>
					<li class="h-tools has-child" data-group="tools"><a href="/tools" title="Tools">Tools</a>
						<ul>
							<li><a href="/blast-carb/" title="BLAST">BLAST</a></li>
							<li class="has-child">
								<a>Co-expression Toolkit  (<strong>CORx</strong>)</a>
								<ul>
									<li><a href="/tools/corgi" title="Correlated Genes Identifier (CORGI)">Correlated Genes Identifier (<strong>CORGI</strong>)</a></li>
									<li><a href="/tools/cornea" title="Coexpression Network Analysis (CORNEA)">Coexpression Network Analysis (<strong>CORNEA</strong>)</a></li>
								</ul>
							</li>
							<li class="has-child">
								<a>Expression Analysis &amp; Visualisation</a>
								<ul>
									<li><a href="/expat/" title="Expression Atlas (ExpAt)">Expression Atlas (<strong>ExpAt</strong>)</a></li>
									<li><a href="/expat/mapping" title="Gene/Probe mapping for ExpAt">Gene/Probe Mapping for ExpAt</a></li>
								</ul>
							</li>
							<li><a href="/genome" title="Genome Browser">Genome Browser</a></li>
							
							<li class="has-child">
								<a>Gene Ontology</a>
								<ul>
									<li><a href="/go/enrichment" title="GO Enrichment Analysis">GO Enrichment Analysis <span class="badge">BETA</span></a></li>
									<li><a href="/go/explorer" title="GO Explorer">GO Explorer <span class="badge">BETA</span></a></li>
								</ul>
							</li>
							
							<li><a href="/tools/phyalign" title="PhyAlign">PhyAlign (<abbr title="Multiple Sequence Alignment">MSA</abbr> + Phylogeny) <span class="badge">BETA</span></a></li>
							<li class="has-child">
								<a>Sequence Toolkit</a>
								<ul>
									<li><a href="/tools/seqpro" title="Sequence Processor (SeqPro)">Sequence Processor (<strong>SeqPro</strong>)</a></li>
									<li><a href="/tools/seqret" title="Sequence Retrieval (SeqRet)">Sequence Retrieval (<strong>SeqRet</strong>)</a></li>
								</ul>
							</li>
							<li class="has-child">
								<a>Transcript Toolkit (<strong>TRx</strong>)</a>
								<ul>
									<li><a href="/tools/tram" title="Transcript Mapper (TRAM)">Transcript Mapper (<strong>TRAM</strong>)</a></li>
									<li><a href="/tools/trex" title="Transcript Explorer (TREX&gt;)">Transcript Explorer (<strong>TREX</strong>)</a></li>
								</ul>
							</li>
							<li><a href="/view/" title="View">View</a></li>
						</ul>
					</li>
					<li class="h-data has-child" data-group="data"><a href="/data/" title="Data">Data</a>
						<ul>
							<li><a href="/data/codon-usage" title="Codon Usage Table">Codon Usage</a></li>
							<li><a href="/data/download" title="Downloads">Downloads</a></li>
							<li><a href="/data/lore1" title="LORE1 Raw Data"><em>LORE1</em> Raw Data</a></li>
						</ul>
					</li>
					<li class="h-meta has-child" data-group="meta"><a href="/meta/" title="Info">Info</a>
						<ul>
							<li><a href="/meta/about" title="About Lotus Base">About the Project</a></li>
							<li><a href="/meta/citation" title="Citing Lotus Base">Citation Guide</a></li>
							<li><a href="/meta/team" title="Lotus Base Team">Meet the Team</a></li>
							<li><a href="/blog" title="Blog">Blog</a></li>
							<li><a href="/meta/faq" title="Frequently Asked Questions">FAQ</a></li>
							<li><a href="/meta/legal" title="Privacy &amp; Terms of Use">Privacy &amp; Terms</a></li>
							<li><a href="/meta/contact" title="Contact Us">Contact</a></li>
							<li><a href="/issue" title="Open issue or propose enhancements">Open Issue</a></li>
						</ul>
					</li>
					<li class="h-search">
						<a href="/search" title="Search site" class="search-link">Search</a>
						<form method="get" class="search-form" action="/search" id="nav-search-form">
			<button class="pictogram icon-search icon--no-spacing"></button>
			<input type="search" name="q" placeholder="Search term" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
			<select class="qtype" id="qtype-1"><option disabled="" value="">Select a search type</option><option value="general" data-input-placeholder="Search term" data-form-query-var="q" data-form-action="/search" data-form-params="">General</option><option value="lore1" data-input-placeholder="Search term" data-form-query-var="pid" data-form-action="/lore1/search" data-form-params="{&quot;v&quot;:&quot;3.0&quot;}">LORE1</option><option value="gene" data-input-placeholder="Search term" data-form-query-var="ids" data-form-action="/tools/trex" data-form-params="">Gene</option></select>
			
			<button type="submit"><span class="pictogram icon-search icon--no-spacing"></span></button>
		</form>
					</li>
				</ul>
			</nav>

			<div id="top-notifications">
				<div id="cookie-consent" class="site-notification">
					<span class="pictogram icon-attention"></span>
					<p><em>Lotus</em> Base uses cookies to allow user preferences to be stored. By continuing to browse the site you are agreeing to our use of cookies.<br /><a href="./terms.php" class="icon button" data-action="read">Read more</a> <a href="#" class="icon button" data-action="dismiss">Accept cookie use and dismiss message</a></p>
				</div>

				<div id="browser-features-warning" class="site-notification">
					<span class="pictogram icon-attention"></span>
					<p>Your browser is unable to support new features implemented in HTML5 and CSS3 to render this site as intended. Your experience may suffer from functionality degradation but the site should remain usable. We strongly recommend the latest version of <a href="http://google.com/chrome/" title="Google Chrome">Google Chrome</a> or <a href="http://mozilla.org/firefox/" title="Mozilla Firefox">Mozilla Firefox</a>. <a href="#" class="icon button" title="I understand" data-action="dismiss">Dismiss message</a></p>
				</div>
			</div>
		</header>

		<section class="wrapper" id="breadcrumb">
			<nav>
				<ul>
					<li><a href="/" title="Home"><em>Lotus</em> Base</a></li>
					<li>BLAST</li>
				</ul>
			</nav>
		</section>

		<section class="wrapper">

			<p class="user-message note hidden" id="blast-alt"><span class="icon-info-circled"></span><em>Lotus</em> Base contains alternative versions of BLAST for different user groups. To access the BLAST service that is specifically available to your user group, please <a href="/users/login?redir=https%3A%2F%2Flotus.au.dk%2Fblast-carb%2F" title="Login as a Lotus Base user">login</a>.</p>

			<p class="user-message note hidden" id="blast-alt-available"><span class="icon-info-circled"></span>You are logged in as a user belonging to a group with access to an expanded BLAST tool. Please visit <a href="/blast-carb/">https://lotus.au.dk/blast-carb/</a>.</p>

			<form class="form-horizontal" id="blast" method="post" action="#blast">
				<div class="cols" role="group">
					<label for="sequence" class="col-one">Sequence query <a data-modal class="help" title="How should I enter the IDs?" data-modal-content="&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Genome Assembly&lt;/strong&gt; &mdash; For searching in the &lt;em&gt;Lotus japonicus&lt;/em&gt; genome asssembly, the IDs are the chromosome numbers, e.g. &lt;code&gt;chr1&lt;/code&gt; for the version 3.0 assembly.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;mRNA Illumina Read Assembly&lt;/strong&gt; &mdash; For searching in the Illumina read assemblies, the IDs are unique identifiers of each mRNA sequence. An example of an ID would be &lt;code&gt;NODE_30681_length_2141_cov_27.475946&lt;/code&gt;.&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;user-message note&quot;&gt;For entering mulitple IDs, please enter each entry on a new line.&lt;/p&gt;">?</a></label>
					<div class="col-two">
						<textarea name="sequence" id="sequence" rows="10" autofocus spellcheck="false" placeholder="Paste query sequence(s) or drag file containing query sequence(s) in FASTA format here ..." ></textarea>
						<div class="notifications">
							<div class="user-message note" id="nucleotide-sequence-notification" style="display: none;">Detected: nucleotide sequence(s).</div>
							<div class="user-message note" id="protein-sequence-notification" style="display: none;">Detected: protein sequence(s).</div>
							<div class="user-message warning" id="mixed-sequence-notification" style="display: none;">Detected: mixed nucleotide and protein sequences&mdash;BLAST is unable to handle mixed sequence types. Please try one sequence at a time.</div>
						</div>
						<div class="sequence-controls">
							<button type="button" class="btn btn-sm btn-default" id="btn-sequence-clear" title="Clear query sequence(s).">
								<span id="sequence-file"></span>
								<span class="pictogram icon-cancel icon--no-spacing"></span>
							</button>
						</div>
						<div class="dnd-overlay" style="display: none;">
							<div class="dnd-overlay-container">
								<h3 class="dnd-overlay-drop" style="display: none;">Drop query sequence file here</h3>
								<h3 class="dnd-overlay-overwrite" style="display: none;"><span>Overwrite</span> query sequence file</h3>
								<p>Release your file here to begin your search. Press <kbd>Esc</kbd> to close this dialog.</p>

								<div class="dnd-errors">
									<div class="dnd-error row" id="dnd-multi-notification" style="display: none;">
										<p class="user-message warning">Please upload one file at a time.</p>
									</div>

									<div class="dnd-error row" id="dnd-no-file-notification" style="display: none;">
										<p class="user-message warning">No file drop detected.</p>
									</div>

									<div class="dnd-error row" id="dnd-large-file-notification" style="display: none;">
										<p class="user-message warning">File size is too big. Please use file sizes less than 10MB.</p>
									</div>

									<div class="dnd-error row" id="dnd-format-notification" style="display: none;">
										<p class="user-message warning">Only FASTA files are accepted.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<label class="col-one">Database selection <a class="help" data-modal="wide" title="Database overview" href="/lib/docs/blast/db">?</a></label>
					<div class="col-two">
						<div id="database-list">
							<ul>
							<% databases.keys.sort.each do |type| %>
								<li><a href="#database-<%= type %>" title="<%= type.capitalize %> databases" data-smooth-scroll="false"><%= type.capitalize %></a></li>
							<% end %>
							</ul>
							<% databases.keys.sort.each do |type| %>
								<div id="database-<%= type %>">
									<p class="user-message reminder">You have selected databases from a different group. To select databases from this group, please uncheck databases in the other tab. <button type="button">Uncheck all other checkboxes</button></p>
									<ul class="databases <%= type %>">
										<% databases[type].sort_by(&:title).each do |database| %>
											<li>
												<div class="checkbox"><label><input type="checkbox" name="databases[]" value="<%=database.id%>" data-type="<%=database.type%>" class="prettify" /><span><%= database.title or database.name %></span></label></div>
											</li>
										<% end %>
									</ul>
								</div>
							<% end %>
						</div>
					</div>

					
					<label class="col-one" for="advanced">Advanced parameters <a class="help" data-modal="wide" title="Advanced BLAST parameters" href="/lib/docs/blast/advanced-params.html">?</a></label>
					<input class="col-two" type="text" name="advanced" id="advanced" title="View, and enter advanced parameters." placeholder="eg: -evalue 1.0e-5 -num_alignments 100"/>
				</div>
				<div id="methods"><button type="submit" id="method" class="btn btn-primary form-control">blast</button></div>
			</form>
		</section>

		<section class="wrapper result" id="result" style="display: none;">
		</section>

	</div><!-- #container -->
</div><!-- #wrap -->

<footer id="footer">
	<span id="top"><a href="#wrap" title="Return to top"><span class="pictogram icon-up-open-big"></span>Top</a></span>
	<section class="cols">
		<div class="col about-us">
			<h2>About us</h2>
			<p>Developed with the end-user in mind, <em>Lotus</em> Base is an user-friendly web interface that brings together various resources, tools and datasets available for the model legume <em>Lotus japonicus</em>. We aim to make access to these data easy for researchers, scientists and members of the public across the world.</p>
			<ul class="cols">
				<li class="col bg-fill"><a href="/meta/about/"><img src="/dist/images/header/lore1/lore1_01.jpg" alt="" title="" /><span>About Us</span></a></li>
				<li class="col bg-fill"><a href="/meta/team/"><img src="/dist/images/team/carb.jpg" alt="" title="" /><span>Meet the Team</span></a></li>
			</ul>
		</div>
		<div class="col newsletter">
			<h2>Stay updated</h2>
			<p>Register to be part of the <em>Lotus</em> Base mailing list to be informed of latest updates and developments. We promise, no spam!</p>
			<form action="https://carb.us5.list-manage.com/subscribe/post?u=b05ff730875b834016cea7a13&amp;id=c469e14ec3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First name">
				<input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last name">
				<input type="email" value="" name="EMAIL" class="" id="mce-EMAIL" placeholder="Email">
				<input type="submit" value="Subscribe Now" name="subscribe" id="mc-embedded-subscribe" class="button">
			</form>
		</div>
	</section>

	<ul class="cols affiliations flex-wrap__no">
		<li><a href="http://carb.au.dk"><img src="/dist/images/logos/carb.png" title="Centre for Carbohydrate Recognition and Signalling" alt="Centre for Carbohydrate Recognition and Signalling" /></a></li>
		<li><a href="http://au.dk"><img src="/dist/images/logos/au.png" title="Aarhus University" alt="Aarhus University" /></a></li>
		<li><a href="http://dg.dk"><img src="/dist/images/logos/dg.png" title="Danish National Research Foundation" alt="Danish National Research Foundation" /></a></li>
	</ul>

	<section class="lastnote">
		<p>All rights reserved. 2012&ndash;<%= Time.now.year %> &copy; <a href="http://carb.au.dk/" title="Centre for Carbohydrate Recognition and Signalling">Centre for Carbohydrate Recognition and Signalling</a>, Aarhus University, Denmark.<br />Brought to you by the <a href="/meta/team"><em>Lotus</em> Base Team</a>, powered by <a href="http://www.sequenceserver.com/" title="SequenceServer v<%= SequenceServer::VERSION %>">SequenceServer v<%= SequenceServer::VERSION %></a> &amp; coffee.</p>
	</section>

	<!-- JS -->
	<% if settings.production? %>
		<!-- <script src="js/sequenceserver.min.js"></script> -->
		<script src="js/underscore.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

		<!-- Load jQuery plugins -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.3/js.cookie.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

		<!-- Local plugins -->
		<script src="/dist/js/plugins/regex-colorizer.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<script src="js/webshims/polyfiller.js"></script>
		<script src="js/d3.v3.min.js"></script>
		<script src="js/sequenceserver.js"></script>
		<script src="js/sequenceserver.blast.js"></script>
		<script src="js/jquery.t.js"></script>
		<script src="js/sequence.js"></script>
	<% else %>
		<script src="js/underscore.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/webshims/polyfiller.js"></script>
		<script src="js/d3.v3.min.js"></script>
		<script src="js/sequenceserver.js"></script>
		<script src="js/sequenceserver.blast.js"></script>
		<script src="js/jquery.t.js"></script>
		<script src="js/sequence.js"></script>
	<% end %>

	<!-- Load site functions -->
	<script>
		var access_token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE0NjM4NTY5MzUsImRhdGEiOnsidXNlciI6Ijg4NDM1MTNiZGEyMzgxZWQiLCJhY2Nlc3NfdG9rZW4iOiIxYTk0YTY3YTQ4NTJiMjQ4In19.GLV9d6pv8Ix2a8dunHT1AMFGnVVx9LLMHzSm7V2ijQo';
	</script>
	<script src="/dist/js/functions.min.js"></script>
	<script src="/dist/js/plugins/modernizr-custom.min.js"></script>

	<!-- Google Analyrics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-37291877-2', 'auto');
	ga('send', 'pageview');
	</script>

</footer>
</body>
</html>
